.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(#e9865810 5%, transparent 70%);
  direction: rtl;
  flex-direction: column;
  margin-top: -50px;
}
.logo-login {
  width: 200px;
  margin: 50px;
}
.login-form {
  background-color: #ffffff90;
  padding: 2rem;
  width: 300px;
  border-radius: 25px;
  box-shadow: var(--box-shadow-base);
}

.login-form h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.login-form input {
  width: 93%;
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background: #fa4616;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.login-form button:hover {
  background: #fa4616;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
