body{
	font-family: 'Ravi', sans-serif;
  	/* background-image: linear-gradient(to top, #e9865890, transparent); */
	background-color: #F2F2F2;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
.header{
	margin-top: 20px;
}
.blured-curcle-bg {
  width: 800px;
  /* position: absolute; */
  height: 800px;
  background-color: #FA461670;
  border-radius: 50%;
  filter: blur(1000px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: moveCircle 10s infinite; */
}

@keyframes moveCircle {
  0% {
    left: 0%;
  }
  33% {
    left: 100%;
  }
  66% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.dashboard-main {
    height: 500px;
    width: 78em;
    margin: 40px auto; /* Center horizontally */
    display: flex;
    gap: 10px;
}

.left-panel {
    width: 20%;
    background-color: #ffffff90;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #eee;
}

.right-panel {
    width: 80%;
    background-color: #ffffff90;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #eee;
}
