@import url(./style/pagesStyle.css);
@import url(./style//Login.css);
@import url(./style/navStyle.css);
@import url(./style/bots.css);
@import url(./style/paths.css);
@import url(./style/commingSoon.css);

:root {
  --box-shadow-base: 5px 5px 5px #fa461605;
}
body {
  background-image: radial-gradient(#e9865870 5%, transparent 70%);
  background-color: #f2f2f2;
  direction: rtl;
  min-height: 850px;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: "IRANSansWeb(FaNum)";
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
